<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Demo Sign In</h4>
  <p>There are two homeowner accounts. Login with 1-2@homeowner.com.</p>
  <p>There are six caretaker accounts. Login with 1-6@caretaker.com.</p>
  <hr>
  <p class="mb-0">All account passwords are "123456".</p>
</div>
