
  <footer>
    <ul class="nav justify-content-center">
      <li><a class="footericon" href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
      <li><a class="footericon" href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
      <li><a class="footericon" href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
      <li><a class="footericon" href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
    </ul>

      <p class="copywrite">© 2022 Extended Away, Inc All Rights Reserved.</p>

  </footer>
