<div class="jumbotron pb-10">
  <div class="banner d-flex justify-content-center align-items-center flex-column" style="height: 400px;">
    <h1 class="display-4">Extended Away</h1>
      <%= link_to trips_path, class: "btn btn-primary btn-lg btn-seetrips" do %>
        Book Your Trip!
      <% end %>
  </div>
</div>

<div class="list d-flex justify-content-center align-items-center pt-5 pb-5">
  <h2 mb-50>Have Peace While You're Away!</h2>
</div>
<div class="list d-flex justify-content-center align-items-center pb-5">
<div class="card-home">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1586473219010-2ffc57b0d282?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGFza3N8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-center align-items-center">Tasks</h5>
    <p class="card-text"></p>

  </div>
</div>

<div class="card-home">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dHJpcHN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-center align-items-center">Trips</h5>
    <p class="card-text"></p>

  </div>
</div>

<div class="card-home">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1633526543814-9718c8922b7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FsZW5kYXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-center align-items-center">Calendar</h5>
    <p class="card-text"></p>

  </div>
</div>
</div>
