<div class="d-flex">
        <div class="left bg-light">
            <%= image_tag "logo3", class: "homepagelogo" %>
          <div>
            <p style="font-size: 16px; margin: 10px 62px 10px 55px;">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
          </div>
            <div class="homepagebuttons">
              <button class="btn loginlandingpage" type="submit">Login</button>
              <button class="btn loginlandingpage" type="submit">Learn more</button>
            </div>
        </div>
        <div class="right">
            <h1></h1>
        </div>
    </div>
