<div class="row">
  <div class="col-12">
    <div class="card shadow w-100 rounded">
      <div class="card-body p-0">
        <div class="card-header py-3 d-flex align-items-center">
          <div class="flex-grow-1">
            <h5><strong>My Profile</strong></h5>
          </div>
          <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-3 m-0">
          <%= cl_image_tag @user.photo.key, width: 100, crop: :fill, class: "img-thumbnail rounded-circle mb-2" %>
        <h5>
          <strong>Email:</strong>
          <p><%= @user.email %></p>
          <strong>First Name:</strong>
          <p><%= @user.first_name %></p>
          <strong>Last Name:</strong>
          <p><%= @user.last_name %></p>
        </h5>
        </div>
      </div>
    </div>
  </div>
</div>
