.right-pannel{
  background-image: url("landpage2");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 55%;
  height: 50vw;
}

.left-pannel{
  width: 55%;
  height: 50vw;
  background-color: #F5FAF7!important;
  display: flex;
  flex-direction: column;
}

.homepagelogo{
  width: 350px;
  margin: 152px 10px 14px 55px;

}

.homepagebuttons{
  margin-left: 27px;
}

.loginlandingpage1{
  border: solid;
  border-color: #008285;
  font-size: 14px;
  font-weight: bold;
  border-radius: 13px;
  margin: 15px 0px 10px 25px;
  color: white;
  background-color: #008285;
  width: 160px;
}

.loginlandingpage2{
  border: solid;
  border-color: #008285;
  font-size: 14px;
  border-radius: 13px;
  margin-top: 6px;
  font-size: 14px;
  color: white;
  background-color: #008285;
}

.loginlandingpage1:hover{
  background-color: rgba(0, 130, 133, 0.5);
  border-radius: 13px;
  color: white;
  transition: 0.5s;
}

.loginlandingpage2:hover{
  background-color: rgba(0, 130, 133, 0.5);
  border-radius: 13px;
  color: white;
  transition: 0.5s;
}



// --------------- ABOUT US ---------------------------//

#aboutus{
  display: flex;
  height: 25vw;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;


  h1{
    margin-left: 27px;
    margin-right: 50px;
  }
}



// --------------- FEATURES ---------------------------//

.features-table{
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto 30px auto;
  width: 100%
}

.featureinfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;

  p{
    text-align: center;
    font-size: 15px;
  }
}

.featureicons{
  margin-bottom: 25px;
  width: 60px;
}

#features{
  display: flex;
  flex-direction: column;
  background-color: rgba(227, 241, 234, 1.9);
  padding-bottom: 140px;
  justify-content: center;

  h1{
    justify-content: center;
    display: flex;
  }
}
