
.card-home {
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 5px #e6e6e6;
  text-align: center;

  border: 1px solid #e6e6e6;
  margin: 35px;
}

.card-img-top {
  height: 280px;
  width: 280px;
  padding: 10px;
}

.card-title {
  font-size: 16px;
  margin: 21px 0;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  line-height: 1.2;
}
