.right{
  background-image: url("landpage1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 55%;
  height: 40vw;
}

.left{
  background-image: url("logo");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 55%;
  height: 40vw;
  margin-right: 0 !important;
}
