.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.icon{
  background: white;
  border-radius: 30px;
  padding: 6px;
  border: solid;
  border-color:rgba(0, 0, 0, 0.17);
  border-width: thin;font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.navlogin{
  gap: 10px;
  align-items: center;
}

.navsearch{
  border-radius: 13px;
}

.navbartotal{
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 16px;
  margin-left: 63px;
  border-radius: 13px;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.21);
}

.formbox{
  width: 37%;
}

//SIDE NAVBAR/

.sidebar {
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  background: white;
  width: 52px;
  position: fixed;
  margin-bottom: 17px;
  border-radius: 13px;
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.21);
  left:0px;
}


.sidebar > nav > .sidebutton {
  position: relative;
  display: grid;
  place-items: center;
  width: 80%;
  height: 45%;
  padding: 0;
  background: white;
  border-radius: 30px;
  border: solid;
  border-color:rgba(0, 0, 0, 0.17);
  border-width: thin;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto 30% auto;
  }

  .sidebar > nav > .sidebutton:hover {
    background-color: rgba(227, 241, 234, 0.4);
    box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.62);
  }


  // 0px 0px 9px 0px rgb(0 0 0 / 41%)


  .sidebaricon{
    padding: 30%;
    font-size: 16px;
  }


  .logosidebar{
    width: 20px;
  }
