.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.clickshow{
  border-radius: 13px;
  font-size: 12px;
  background-color: rgba(0, 130, 133, 1.0);
  color: white;
  border: solid;

}

// ----------------------------NEW CARDS -----------------------------------------

.fa-plus{
  background-color: #A8CEC9;
  color: white;
  padding: 5px;
  border-radius: 64px;
  font-size: 13px;
  margin-bottom: 45px;
}

.horizontalLine{
  color: #008285;
  border-width: 2px;
  border-radius: 30px;
}



.taskuseravatar{
  float: right;
  width: 30px;
  border-radius: 30px;
}
